* {
  margin: 0;
  padding: 0;
}

.hero {
  height: 100vh;
  background-image: linear-gradient(
      rgba(0, 105, 233, 0.8),
      rgba(0, 105, 233, 0.8)
    ),
    url("assets/background.jpg");
  background-position: center;
  background-size: cover;
}

.navbar {
  display: flex;
  height: 12%;
}

.navbar-left {
  flex-basis: 70%;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}

.navbar-inner {
  display: flex;
  align-items: center;
  padding: 45px 50px 10px 50px;
  max-height: 45%;
}

.navbar-inner ul {
  margin-left: 20px;
  z-index: 2;
}

.navbar-inner ul li {
  margin: 0 10px;
  display: inline-block;
}

.navbar-inner ul li a {
  text-decoration: none;
  color: white;
  font-size: large;
}

.logo {
  max-height: 12rem;
}

.navbar-right {
  flex-basis: 30%;
  background-color: white;
}
